body {
  margin: 0;
  font-family:"Roboto", sans-serif;
}

.player {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.box {
  margin-top: 1rem;
}


.vac-ranged-marker {
  box-shadow: none !important;
}
.video-js.vac-active .vac-control {
  display: none !important;
}
