body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.player {
  margin-top: 2rem;
  margin-left: auto;
  margin-right: auto;
}
.box {
  margin-top: 1rem;
}
.yellow {
  background-color: rgb(233, 219, 24);
}
.red {
  background-color: rgb(187, 13, 27);
}
.vac-ranged-marker {
  box-shadow: none !important;
}
.video-js.vac-active .vac-control {
  display: none !important;
}
